<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Torrent Scrapper</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Torrent_Scrapper_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav
            Nothhing here>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Torrent_Scrapper Web 
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>