@page
@model Torrent_Scrapper_Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    Torrent Search
    <form method="post">
        <label>Enter keywords</label>
        <input type="text" name="query" required />
        <button type="submit">Search</button>
        <div>
            @{
                if(Model.TorrentData != null)
                {
                    foreach(TorrentScaperUtil.ScrapeData torrent in Model.TorrentData)
                    {
                        @torrent.Title;
                    }
                }
            }
        </div>
    </form>
</div>
